@charset "UTF-8";

body{background-color: White;
     margin: 0;}
header{
background-color: #85CBBF;
height: 120;
width: 100%;
}

@font-face {
  font-family: 'Myfont';
  src: url('http://localhost/ci/font/waltograph-disney/waltographUI.ttf');
}
h2{
  color: #fff;
  padding-top: 20;
  font-family: 'Myfont';
  font-size: 2.4em;
  text-align: center;
  vertical-align: middle;
}

.inner{
  display: grid;
  gap: 10px;
  padding-left: 150;
  padding-right: 100;
  padding-top: 10;
}

.all{
  padding: 0;
  margin: 0;
}

.modal_trigger{
  width:100%;
  padding: 0;
  margin: 0;
}

.modal_btn {
gap: 100px;
}


ul{
  list-style: none;
  display: inline;
  text-align: center;
  margin-right: 50px;
  width:auto;
}

li{display: inline-block;
  }

a{ text-decoration: none;
   padding: 10;
   width: 100%;
   text-align:center;
}
#Introduction{
  left: 50%;
  top:  50%;
}

footer{
  background-color: #85CBBF;
}
#mokuji{
  background-color: White;
  width: auto;
  vertical-align: middle;
  text-align: right;
}

.modal_box {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.modal_bg {
  background-color: rgba(30, 30, 30, 0.9);
  height: 100%;
  width: 100%;
}

.modal_inner {
  background-color: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 400px;
}

.modal_close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 2rem;
}
/*.popup2{
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
}

.minie{
    background: #fff;
    padding: 30px;
    width: 50%;
}

.show2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,8);
}*/
